@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700);

html {
    scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fae5df;
  font-family: ubuntu;
}

header {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  animation:  OtoR 3s infinite;
}

article {
  background: #fa70b5;
  border: 3px solid #f4511e;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
}

.date {
    font-style: italic;
    font-weight: bold;
    font-size: 0.8rem;
}

.inc{
    background: #f5cac2;
    color: black;
}
.dec{
    background: #f39385;
    border: 1px solid red;
}

a:link, a:visited {
  background-color: #a0004b;
  color: white;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

a:hover, a:active {
  background-color: rgb(74, 3, 102);
}

.trans-img {
    display: inline-block;
}

.bignum {
    font-size: 25px;
    font-weight: bold;
    transition:font-size 0.4s;
}
.bignum:hover {
    font-size: 35px;
}

footer {
    margin-left: 10px;
    padding-left: 10px;
    color: black;
    background-color: #f5cac2;
    text-decoration: none;
    border: solid black 2px;
    border-radius: 10px;

}

@keyframes OtoR {
    from {color: orange;}
    to {color: red;}
}

@-webkit-keyframes yellowfade {
    from { background-color: #1a6bec; }
    to { background-color: yellow; }
}

@-moz-keyframes yellowfade {
    from { background-color: #0363ff; }
    to { background-color: yellow; }
}

.yft {
    -webkit-animation: yellowfade 1s;
    -moz-animation: yellowfade 1s;
    animation: yellowfade 1s;
}
